#china {
    width: calc(100% - 310px);
    height: 100%;
    overflow: hidden;
}
.sub-map {
    width: 300px;
    height: 300px;
    background-color: #FFF;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.scroll-view {
    width: 300px;
    height: calc(100% - 310px);
    background-color: #FFF;
    position: absolute;
    top: 0px;
    right: 0px;
}
.control-pane {
    width: 450px;
    height: 50px;
    background-color: #FFF;
    position: absolute;
    top: -50px;
    z-index: 100;
    left: calc(50% - 380px);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.2), 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.show-up {
    animation: show-up 0.5s;
    -webkit-animation: show-up 0.5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.show-down {
    animation: show-down 0.5s;
    -webkit-animation: show-down 0.5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes show-up {
    0% {
        top: -50px;
    }
    50% {
        top: -25px;
    }
    100% {
        top: 0px;
    }
}
@keyframes show-down {
    0% {
        top: 0px;
    }
    50% {
        top: -25px;
    }
    100% {
        top: -50px;
        box-shadow: unset;
        opacity: 0;
    }
}
.control-flex {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}
.control-button {
    cursor: pointer;
    width: 80px;
    height: 30px;
    background-color: #EC800D;
    border: none;
    color: #FFF;
    border-radius: 6px;
    font-size: 12px;
}
.refresh-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.refresh-button:active {
    background-color: #f1f1f1;
}
.control-button:active {
    background-color: rgba(236, 128, 13, 0.7)
}
.control-button:focus {
    outline: unset;
}
.move-to-co-location {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EC800D;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    bottom: 10px;
    left: calc(100% - 370px);
    background: url(../assets/imgs/current-location.png) no-repeat;
    background-size: 66px 66px;
    background-position: -8px -8px;
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.2), 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.auto-scroll-view {
    width: 300px;
    height: 100%;
    overflow-y: auto;
}
.auto-scroll-view::-webkit-scrollbar {
    display:none
}
.mat-info {
    padding: 10px;
}
.mat-image {
    width: 120px;
    height: 120px;
}